@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



/*Error Alert */
.alert.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%); 
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}


/* User Detail popup  */

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-60px); /* Start slightly above */
    opacity: 0; /* Start transparent */
  }
  to {
    transform: translateY(0); /* End in place */
    opacity: 1; /* End fully visible */
  }
}